[submodule "layers/poky"]
	path = layers/poky
	url = https://git.yoctoproject.org/git/poky
	branch = scarthgap
[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = https://git.openembedded.org/meta-openembedded
	branch = scarthgap
[submodule "layers/meta-st-stm32mp"]
	path = layers/meta-st-stm32mp
	url = https://github.com/STMicroelectronics/meta-st-stm32mp.git
	branch = scarthgap
[submodule "layers/meta-ads1263"]
	path = layers/meta-ads1263
	url = git@github.com:nunezm23/meta-ads1263.git
[submodule "programs/IdS_project"]
	path = programs/IdS_project
	url = git@github.com:nunezm23/IdS_project.git
